/Makefile.am
/alloca.in.h
/asnprintf.c
/asprintf.c
/basename-lgpl.c
/basename.c
/byteswap.in.h
/dirname-lgpl.c
/dirname.c
/dirname.h
/dosname.h
/dup2.c
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/float+.h
/float.c
/float.in.h
/getdelim.c
/getline.c
/getopt.c
/getopt.in.h
/getopt1.c
/getopt_int.h
/gettext.h
/gettimeofday.c
/intprops.h
/itold.c
/lstat.c
/malloc.c
/memchr.c
/memchr.valgrind
/minmax.h
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/pathmax.h
/printf-args.c
/printf-args.h
/printf-parse.c
/printf-parse.h
/progname.c
/progname.h
/realloc.c
/size_max.h
/stat.c
/stdarg.in.h
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdio.c
/stdio.in.h
/stdlib.in.h
/str-two-way.h
/strcasecmp.c
/strdup.c
/strerror-override.c
/strerror-override.h
/strerror.c
/string.in.h
/strings.in.h
/stripslash.c
/strncasecmp.c
/strndup.c
/strnlen.c
/strstr.c
/sys_stat.in.h
/sys_time.in.h
/sys_types.in.h
/time.in.h
/unistd.c
/unistd.in.h
/vasnprintf.c
/vasnprintf.h
/vasprintf.c
/verify.h
/version-etc.c
/version-etc.h
/wchar.in.h
/xalloc-die.c
/xalloc-oversized.h
/xalloc.h
/xasprintf.c
/xmalloc.c
/xsize.c
/xsize.h
/xstrndup.c
/xstrndup.h
/xvasprintf.c
/xvasprintf.h
